@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
  body * {
    visibility: hidden;
  }
  #printable-bill, #printable-bill * {
    visibility: visible;
  }
  #printable-bill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
